

label{
    color: white;
    text-align: justify;
}
input{
   
    height: 25px;
}


#logo{
    width: auto;
    height: 100px;
}
#links{
    margin-right: 100px;
}

form{
    padding-top: 25px;
    height: 100%;
    /* background-image:url(../../assets/img/img_central.png); */
    
}
/* 
#popup{
position: fixed;
top: 0; bottom: 0;
left: 0; right: 0;
margin:auto;
border: solid 1px white;
background: #0e3a74;
border-radius: 10%;
display: none;

} */
